<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Edit Menu</title>
  </head>
  <body>
    <h1>Edit Menu</h1>

    <form action="/menus" method="POST">
      <h3><label>Name:</label>
      <input type="text" name="menu[name]"></h3>

      <h3><label>Choose an existing entree:</label></h3>
      <%Entree.all.each do |entree|%>
       <input type="checkbox" name="menu[entree_ids][]" value="<%=entree.id%>" <%='checked' if @menu.entrees.include?(entree) %>><%=entree.name%></input>
     <%end%>

      <h3><label>If you would like to create a new entree, please input below:</label></h3>

      <label>New Entree Name:</label>
          <input  type="text" name="entree[name]"></input><br>
      <label>New Entree Description:</label>
          <input  type="text" name="entree[description]"></input><br>
      <label>New Entree Ingredients:</label>
          <input  type="text" name="entree[ingredients]"></input>
        <br></br>
      <input type="submit" value="Submit Changes">
    </form>

  </body>
</html>
